.next/
node_modules/

# logs
*.log
*.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# build outputs
out/
dist/
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
